
<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Hightchart/highcharts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Hightchart/exporting.js")" type="text/javascript"></script>



@Html.Partial("~/Views/ContractRenewals/_Graphics.cshtml")

<div class="row">
    <div class="col-sm-6 col-lg-6 col-xs-6" id="contractsrewals"></div>
    <div class="col-sm-6 col-lg-6 col-xs-6" id="pendingrenewals"></div>
</div>